body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #ffe5b4;
}
h1 {
  color: darkgreen;
  text-align: center;
}
p {
  text-align: justify;
}
div {
  text-align: center;
}
