body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #ffe5b4;
}
.menu-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
nav {
  background: linear-gradient(darkgreen, lightgreen, darkgreen);
  display: flex;
  align-items: center;
  padding: 8px 10px;
}

nav a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  transition: 0.3s;
  font-size: 25px;
}

nav a:hover {
  color: #ffe5b4;
  transform: scale(1.1);
}
.hamburger {
  margin-right: auto;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  display: block;
}

.search {
  margin: 0 auto;
  width: 400px;
}

.search input {
  width: 100%;
  padding: 8px 15px;
  border: 1px solid black;
  border-radius: 20px;
  box-sizing: border-box;
}

.profile {
  margin-left: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  background-image: url("akun_login.png");
  background-size: cover;
  background-position: center;
}
h1 {
  background-color: darkgreen;
  color: white;
  text-align: center;
  text-decoration: underline;
  font-size: 40px;
}

h2 {
  color: darkgreen;
  text-align: center;
  font-size: 120px;
  font-family: Didot, serif;
  background-image: url("Latar_Belakang.png");
  background-size: cover;
  background-position: center;
  padding: 300px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px 0;
}

p {
  text-align: justify;
  font-size: 25px;
  text-indent: 50px;
}
div {
  text-align: center;
  font-size: 25px;
}
.card {
  background-color: beige;
  border: 1px solid darkgreen;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0 4px 8px rgba(6, 229, 166, 0.2);
}
.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
}
h3 {
  font-size: 25px;
}
a {
  color: darkgreen;
  font-weight: bold;
}

table {
  width: 50%;
  max-width: 300%;
  font-size: 25px;
}
th,
td {
  padding: 15px 20px;
  border: 1px solid #1a1818;
}
