body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #ffe5b4;
}
h1 {
  color: darkgreen;
  text-align: center;
}
h2 {
  color: darkgreen;
  text-align: center;
  font-size: 80px;
  font-style: initial;
  background-image: url("Latar_Belakang.png");
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}
p {
  text-align: justify;
}
div {
  text-align: center;
}
