body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #ffe5b4;
}
.menu-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.hamburger {
  margin-right: auto;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  display: block;
}

.search {
  margin: 0 auto;
  width: 400px;
}

.search input {
  width: 100%;
  padding: 8px 15px;
  border: 1px solid black;
  border-radius: 20px;
  box-sizing: border-box;
}

.profile {
  margin-left: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  background-image: url("akun_login.png");
  background-size: cover;
  background-position: center;
}
h1 {
  color: white;
  text-align: center;
  background-color: darkgreen;
  text-decoration: underline;
  font-size: 40px;
}

h2 {
  color: darkgreen;
  text-align: center;
  font-size: 120px;
  font-family: Didot, serif;
  background-image: url("Latar_Belakang.png");
  background-size: cover;
  background-position: center;
  padding: 300px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px 0;
}

p {
  text-align: justify;
  font-size: 32px;
  text-indent: 50px;
}
div {
  text-align: center;
  font-size: 32px;
}
h3 {
  font-size: 32px;
}
table {
  width: 50%;
  max-width: 300%;
  font-size: 32px;
}
th,
td {
  padding: 15px 20px;
  border: 1px solid #1a1818;
}
